.button {
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    color: white;
    background: #f0807f;

  }

  &:active {
    color: blue;
    border: black 1px solid;
    border-radius: 5px;
  }
}
